<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jms="http://www.springframework.org/schema/jms"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd 
        http://www.springframework.org/schema/jms
        http://www.springframework.org/schema/aop/spring-jms-3.2.xsd"
	default-autowire="byName">
	<context:component-scan base-package="com.mengwei.java" />
	<!-- JMS Queue -->
	<bean id="queueConnectionFactory" class="org.apache.activemq.spring.ActiveMQConnectionFactory">
		<property name="brokerURL" value="tcp://10.98.107.190:61616" />
		<!-- 使用TCP协议 性能提高 -->
		<property name="useAsyncSend" value="true" />
	</bean>
	<bean id="destinationQueue" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg index="0" value="queue.marketing"></constructor-arg>
	</bean>
	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="queueConnectionFactory" />
		<property name="defaultDestination" ref="destinationQueue" />
		<property name="messageConverter" ref="simpleConverter" />
		<property name="sessionTransacted" value="true" />
		<!-- 配置是否为发布订阅者模式，默认为false -->
		<property name="pubSubDomain" value="false" />
		<property name="deliveryMode" value="1" />
		<property name="pubSubNoLocal" value="false" />
	</bean>
	<!-- QUEUE 消息监听器 -->
	<bean id="consumerMessageListener" class="com.mengwei.java.activeMQ.listener.ConsumerMessageListener" /> 
	<!-- 消息监听容器 <bean id="jmsContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer"> 
		<property name="connectionFactory" ref="connectionFactory" /> <property name="destination" 
		ref="destinationQueue" /> <property name="messageListener" ref="consumerMessageListener" 
		/> </bean> -->

	<!-- topic -->
	<bean id="topicConnectionFactory" class="org.apache.activemq.spring.ActiveMQConnectionFactory">
		<property name="brokerURL" value="tcp://10.98.107.190:61617" />
		<property name="clientID" value="clientId_topic" />
	</bean>
	<bean id="topicMsgListener"
		class="com.mengwei.java.activeMQ.listener.ConsumerMessageListener" />
	<bean id="destinationTopic" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg index="0" value="topic.marketing"></constructor-arg>
	</bean>
	<bean id="jmsTopicTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="topicConnectionFactory" />
		<property name="defaultDestination" ref="destinationTopic" />
		<property name="messageConverter" ref="simpleConverter" />
		<property name="pubSubDomain" value="true" />
		<property name="sessionTransacted" value="true" />
		<property name="receiveTimeout" value="10000" />
	</bean>

	<!-- 消息监听容器 -->
	<bean id="myTopicListenerContainer"
		class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="topicConnectionFactory" />
		<!-- 发布订阅模式 -->
		<property name="pubSubDomain" value="true"/>
		<!-- 消息持久化 -->
		<property name="subscriptionDurable" value="true"/>
		<property name="receiveTimeout" value="10000"/>
		<!-- 接收者ID -->
		<property name="clientId" value="client_119" />
		<property name="durableSubscriptionName" value="client_119"/>
		<property name="destination" ref="destinationTopic" />
		<property name="messageListener" ref="consumerMessageListener" />
	</bean>
	<bean id="simpleConverter"
		class="org.springframework.jms.support.converter.SimpleMessageConverter" />
</beans>